
html, body
{
    height: 100%;
    min-height: 100%;
    padding: 0;
	margin:0;
}

.center-content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.mdl-layout__header-row {
	padding: 5px;
}

.mdl-layout-title {
	padding: 5px;
}

.mdl-card--list {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.mdl-card{
	min-height: 90px;
}

.mdl-card__header{
	min-height: 50px;
}

.mdl-card__header-row{
	height: 60px;
}

@media screen and (max-width: 600px){
	.mdl-card__header-row{
		height: 50px;
		padding: 0;
	}
}

.mdl-card__supporting-text{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.video-img {
	width: 150px;
}

.video-link {
	float: right;
	margin-left: 10px;
}

@media screen and (max-width: 400px){
	.video-img {
		width: 100px;
	}
}

@media screen and (max-width: 600px){
	.mdl-card__header-row{
		height: 50px;
		padding: 0;
	}
}

button.google {
    border: none;
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_normal_web.png" ) 0 0;
    width: 191px;
    height:46px;

    display: inline-block;
    vertical-align: middle;
}

button.google:focus {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_focus_web.png" ) 0 0;
}

button.google:disabled {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_disabled_web.png" ) 0 0;
}

button.google:active {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_pressed_web.png" ) 0 0;
}

.large-loading {
    color: lightgrey;
    font-size: 60pt;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
