
html, body
{
    height: 100%;
    min-height: 100%;
    padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

button.google {
    border: none;
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_normal_web.png" ) 0 0;
    width: 191px;
    height:46px;

    display: inline-block;
    vertical-align: middle;
}

button.google:focus {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_focus_web.png" ) 0 0;
}

button.google:disabled {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_disabled_web.png" ) 0 0;
}

button.google:active {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_pressed_web.png" ) 0 0;
}

.large-loading {
    color: lightgrey;
    font-size: 60pt;
}

.loading-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: lightgrey;
	font-size: 40pt;
}

.site-content {
    display: inline-block;
    height: 100%;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
	width: 100%;
	max-width: 800px;
}

.site-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalAlign{
	display: flex;
	align-items: center;
}

.header {
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    background: ghostwhite;
}

.header-user-image, .header-content, .header-logout {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.username {
    font-size: 20pt;
}

.header-content {
    width: 100%;
    margin: 5px;
}

.header-logout {
    margin: 5px;
}

.comments-pane {
  padding: 10px;
}

.thread-list-pane{
}

.thread, .reply{
	margin: 5px;
	border: solid black 1px;
}

.thread-reply-button {
	margin: 5px;
}

.thread:hover, .reply:hover{
	background: ghostwhite;
}

.reply, .reply-reply-button{
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 85px;
}

.show-reply-container {
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 85px;
}

.whole-width-button {
	width: 100%;
}

.whole-width-textarea {
	width: 100%;
	height: 100px;
}

.comment-row{
	display: flex;
	justify-content: space-between;
}

.comment-header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 5px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}

.user-img {
}

.video-img {
}

.comment-username {
}

.comment-date {
}

.comment-middle{
	width: 100%
}

.comment-text-middle {
	width: 100%;
	padding: 5px;
}

.comment-text-bottom {
	display: none;
	width: 100%;
	padding-left: 5px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}

/* Mobile */
@media screen and (max-width: 600px){
	html, body
	{
		margin-left: 0;
		margin-right: 0;
	}

	.site-content {
		width: 100%;
		min-width: 0;
	}

	.comments-pane {
		width: 100%;
	  	padding: 5px;
	}

	.reply, .reply-reply-button{
		margin-left: 40px;
	}

	.show-reply-container {
		margin-left: 40px;
	}

	.comment-header{
		display: block;
	}

	.comment-text-middle {
		display: none;
	}

	.comment-text-bottom {
		display: block;
	}
}

.glyphicon-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
