
html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

button.google {
    border: none;
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_normal_web.png" ) 0 0;
    width: 191px;
    height:46px;

    display: inline-block;
    vertical-align: middle;
}

button.google:focus {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_focus_web.png" ) 0 0;
}

button.google:disabled {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_disabled_web.png" ) 0 0;
}

button.google:active {
    background: no-repeat url( "../assets/Google/btn_google_signin_dark_pressed_web.png" ) 0 0;
}

.large-loading {
    color: lightgrey;
    font-size: 60pt;
}

.site-content {
    display: inline-block;
    height: 100%;
    min-width: 800px;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}

.site-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalAlign{
	display: flex;
	align-items: center;
}

.header {
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    background: ghostwhite;
}

.header-user-image, .header-content, .header-logout {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.username {
    font-size: 20pt;
}

.header-content {
    width: 100%;
    margin: 5px;
}

.header-logout {
    margin: 5px;
}

.commentsPane {
  padding: 5px;
}

.glyphicon-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
