<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>youTube Commentator</title>

    <!-- Bootstrap -->
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous"
        >
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
        crossorigin="anonymous"
        >

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Rx -->
    <script src="node_modules/rx/dist/rx.all.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="node_modules/rx-angular/dist/rx.angular.js"></script>

    <link href="css/styles.css" rel="stylesheet">
    <script src="app.js" ></script>

    <!-- Google Auth Client -->
    <script src="https://apis.google.com/js/client.js?onload=initiateApp"></script>

</head>
<body>

<!--- TODO: Show this content in a root when boot is complete --->
<div ng-controller="commentatorController as controller">

    <div ng-if="controller.loggedIn">
        <div>{{controller.message}}</div>
        <div>{{controller.userInfo.name}}</div>
        <div>{{controller.userInfo.email}}</div>
        <div>{{controller.userInfo.family_name}}</div>
        <div>{{controller.userInfo.gender}}</div>
        <div>{{controller.userInfo.given_name}}</div>
        <div>{{controller.userInfo.id}}</div>
        <div><a href="{{controller.userInfo.link}}">{{controller.userInfo.link}}</a></div>
        <div>{{controller.userInfo.picture}}</div>
        <div>{{controller.userInfo.verified_email}}</div>

        <img src="{{controller.userInfo.picture}}" />

    </div>

    <button ng-if="!controller.loggedIn"
            class="google"
            ng-click="controller.authenticate()"
    ></button>

    <a ng-click="controller.logOut()" ng-if="controller.loggedIn">Log Out</a>

</div>

</body>
</html>