
<div class="site-content">

    <ng-include src="'templates/header.html'" ></ng-include>

    <div class="comments-pane">
        <h1>Comments</h1>

        <div ng-if="controller.loadingCount" class="vertical-align">
            <span>Loading...</span>
			<span ng-if="controller.loadingCount !== ''">({{controller.loadingCount}} loaded)</span>
            <span class="glyphicon glyphicon-refresh glyphicon-animate" aria-hidden="true"></span>
        </div>

		<div ng-if="controller.message">
			{{controller.message}}
		</div>

		<div class="thread-list-pane">
		    <ng-include
				ng-repeat="threadController in controller.threads"
				src="'templates/thread.html'"
				></ng-include>
		</div>
    </div>
</div>
