
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <ng-include src="'templates/header.html'" ></ng-include>

	<main class="mdl-layout__content"
		infinite-scroll="controller.displayMore()"
		infinite-scroll-distance='3'
		infinite-scroll-disabled="controller.loadingDisplay"
		>

		<div class="center-content">

	    <h1>Comments</h1>

		    <div ng-if="controller.loadingCount" class="vertical-align">
		        <span>Checking for replies...</span>
				<span ng-if="controller.loadingCount !== ''">({{controller.loadingCount}} loaded)</span>
		        <span class="glyphicon glyphicon-refresh glyphicon-animate" aria-hidden="true"></span>
		    </div>

			<div ng-if="controller.message">
				{{controller.message}}
			</div>

		    <ng-include
				ng-repeat="threadController in controller.threads"
				src="'templates/thread.html'"
				></ng-include>

			<div ng-if="controller.loadingDisplay" class="loading-footer">
		        <span>Loading...</span>
		        <span class="glyphicon glyphicon-refresh glyphicon-animate" aria-hidden="true"></span>
			</div>

		</div>

	</main>
</div>
