
<div class="mdl-layout--fixed-header">

	<header class="mdl-layout__header" ng-controller="headerController as controller">

		<div class="mdl-layout__header-row center-content">

	        <img
	            src="{{controller.userInfo.picture}}"
	            width="50"
	            height="50"
	        />

	        <span class="mdl-layout-title">{{controller.userInfo.name}}</span>

			<div class="mdl-layout-spacer"></div>

	        <a class="mdl-navigation__link" ng-click="controller.logOut()" href="">LogOut</a>

		</div>

	</header>

</div>
