
<div class="mdl-layout--fixed-header">

	<header class="mdl-layout__header" ng-controller="headerController as headerController">

		<div class="mdl-layout__header-row center-content">

	        <img
				class="avatar"
	            src="{{headerController.userInfo.picture}}"
	        />

	        <span class="mdl-layout-title">{{headerController.userInfo.name}}</span>

			<div class="mdl-layout-spacer"></div>

	        <a class="mdl-navigation__link" ng-click="commentsController.refresh()" href="">Refresh</a>

	        <a class="mdl-navigation__link" ng-click="headerController.logOut()" href="">LogOut</a>

		</div>

	</header>

</div>
