
<div class="reply">
	<div class="comment-row">
		<img
			class="user-img"
			src="{{::replyController.authorProfileImageUrl}}"
			height="50"
			width="50"
			/>
			<div class="comment-middle">
				<div class="comment-header">
					<a
						class="comment-username"
						href="{{::replyController.authorChannelUrl}}"
						target="_blank"
						>{{::replyController.authorDisplayName}}</a>

					<div class="comment-date">
						{{::replyController.publishedAt | date:'medium'}}
					</div>
				</div>
				<div
					class="comment-text-middle"
					ng-bind-html="replyController.textDisplay"
					></div>
			</div>
	</div>

	<div class="comment-text-bottom" ng-bind-html="replyController.textDisplay"></div>
</div>
