
<div class="reply">

	<img
		class="thread-img"
		src="{{reply.snippet.authorProfileImageUrl}}"
		height="75"
		/>

	<div class="reply-content">

		<div class="reply-header">
			<a
				class="reply-username"
				href="{{reply.snippet.authorChannelUrl}}"
				target="_blank"
				>{{reply.snippet.authorDisplayName}}</a>

			<div class="reply-date">
				{{reply.snippet.publishedAt | date:'medium'}}
			</div>

		</div>

		<div class="reply-text">
			{{reply.snippet.textDisplay}}
		</div>
	</div>


</div>
