
<div class="reply">

	<img
		class="thread-img"
		src="{{::replyController.authorProfileImageUrl}}"
		height="75"
		/>

	<div class="reply-content">

		<div class="reply-header">
			<a
				class="reply-username"
				href="{{::replyController.authorChannelUrl}}"
				target="_blank"
				>{{::replyController.authorDisplayName}}</a>

			<div class="reply-date">
				{{::replyController.publishedAt | date:'medium'}}
			</div>

		</div>

		<div class="reply-text" ng-bind-html="replyController.textDisplay"></div>
	</div>


</div>
