
<div class="thread">
	<img
		class="thread-img"
		src="{{thread.snippet.topLevelComment.snippet.authorProfileImageUrl}}"
		height="75"
		/>

	<div class="thread-content">

		<div class="thread-header">
			<a
				class="thread-username"
				href="{{thread.snippet.topLevelComment.snippet.authorChannelUrl}}"
				target="_blank"
				>{{thread.snippet.topLevelComment.snippet.authorDisplayName}}</a>

			<div class="thread-date">
				{{thread.snippet.topLevelComment.snippet.publishedAt | date:'medium'}}
			</div>

		</div>

		<!-- TODO: Display html -->
		<div class="thread-text">{{thread.snippet.topLevelComment.snippet.textDisplay}}</div>

	</div>

	<img
		class="thread-img"
		src="https://i.ytimg.com/vi/{{thread.snippet.videoId}}/mqdefault.jpg"
		height="75"
		/>
</div>

<ng-include ng-repeat="reply in thread.replies.comments" src="'templates/reply.html'" ></ng-include>
