
<div
	class="mdl-card mdl-shadow--4dp mdl-card--list mdl-layout--fixed-header"
	>

	<header class="mdl-layout__header mdl-card__header">

		<div class="mdl-layout__header-row mdl-card__header-row">

			<!-- TODO: Handle long names on small screens -->

			<a
				href="{{::threadController.authorChannelUrl}}"
				target="_blank">
				<img
					class="avatar"
					src="{{::threadController.authorProfileImageUrl}}"
					/>
			</a>

			<span class="mdl-navigation__link">{{::threadController.authorDisplayName}}</span>

			<div class="mdl-layout-spacer"></div>

			<span class="mdl-navigation__link" title="{{::threadController.publishedAt | date:'medium'}}">
				{{::threadController.publishedAtDisplay}}
			</div>
	</header>

	<div class="mdl-card__supporting-text" >
		<a
			class="video-link"
			href="{{::threadController.videoUrl}}"
			target="_blank">
			<img
				class="video-img"
				src="{{::threadController.videoImageUrl}}"
				/>
				<span class="video-link-title">{{threadController.videoTitle}}</span>
			</a>

			<span ng-bind-html="threadController.textDisplay"></span>
	</div>

		<!-- Show / Hide Replies -->

		<div class="mdl-card__actions mdl-card--border mdl-card--nopadding">
			<div class="mdl-layout-row">

			<button
				ng-if="threadController.buttonText"
				class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				ng-click="threadController.toggleReplyDisplay()"
				ng-disabled="threadController.loadingReplies"
				>{{threadController.buttonText}}</button>

			<div class="mdl-layout-spacer"></div>

			<button
				ng-if="!threadController.isSelected"
				class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				ng-click="commentsController.selectComment(threadController)">
					Reply to Thread</button>
			<button
				ng-if="threadController.isSelected"
				class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				ng-click="commentsController.selectComment(threadController)">
					Cancel Reply</button>

			</div>

			<!-- Post reply -->

			<div class="mdl-layout-row" ng-if="threadController.isSelected">
				<textarea
					ng-disabled="threadController.waitingForReplyResponse"
					class="reply-textarea"
					ng-model="threadController.replyText"
					msd-elastic="\n"
					></textarea>

				<div ng-if="threadController.waitingForReplyResponse">
					<span>Posting...</span>
					<span class="glyphicon glyphicon-refresh glyphicon-animate" aria-hidden="true"></span>
				</div>
				<button
				 	ng-if="!threadController.waitingForReplyResponse"
					ng-disabled="!threadController.replyEnabled || threadController.waitingForReplyResponse"
					class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
					ng-click="commentsController.postReply(threadController)"
					>Reply</button>
			</div>
		</div>

	<ng-include ng-repeat="replyController in threadController.replies" src="'templates/reply.html?v=__applicationVersionNumber__'" ></ng-include>

	<!-- Hide all replies -->

	<div ng-if="threadController.allRepliesShown" class="mdl-card__actions mdl-card--border mdl-layout-row">
		<button
			class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
			ng-click="threadController.toggleReplyDisplay()">{{threadController.buttonText}}</button>
	</div>

</div>
